registry=https://pkgs.dev.azure.com/lab-experimental-cix/artifacts/_packaging/nfmc/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/lab-experimental-cix/artifacts/_packaging/nfmc/npm/registry/:username=lab-experimental-cix
//pkgs.dev.azure.com/lab-experimental-cix/artifacts/_packaging/nfmc/npm/registry/:_password=N1JYWUNvMW56d01SVk5KYWtROEZBd0lUQ3RDNVkzQkJaRDc3dVZKSTgwaGdma0czdGxxVkpRUUo5OUFLQUNBQUFBQThoNmRiQUFBU0FaRE8wR1FH
//pkgs.dev.azure.com/lab-experimental-cix/artifacts/_packaging/nfmc/npm/registry/:email=carlosroca@innovacxion.com
//pkgs.dev.azure.com/lab-experimental-cix/artifacts/_packaging/nfmc/npm/:username=lab-experimental-cix
//pkgs.dev.azure.com/lab-experimental-cix/artifacts/_packaging/nfmc/npm/:_password=N1JYWUNvMW56d01SVk5KYWtROEZBd0lUQ3RDNVkzQkJaRDc3dVZKSTgwaGdma0czdGxxVkpRUUo5OUFLQUNBQUFBQThoNmRiQUFBU0FaRE8wR1FH
//pkgs.dev.azure.com/lab-experimental-cix/artifacts/_packaging/nfmc/npm/:email=carlosroca@innovacxion.com
; end auth token